useDynLib(hiermetacox, .registration = TRUE)
importFrom(survival, Surv, strata, coxph)
importFrom(stats, coef, sd, quantile, qnorm, pnorm, uniroot, rnorm, runif, rexp, median, setNames)
export(hmcox, cv.hmcox, hmc_folds, hmcox_inference, hmcox_boot, sim_ipd, hmc_metrics)
S3method(print, hmcox)
S3method(coef, hmcox)
S3method(predict, hmcox)
S3method(print, cv.hmcox)
S3method(coef, cv.hmcox)
S3method(predict, cv.hmcox)
